{"openapi":"3.1.1","info":{"title":"Twenty Api","description":"Use this page to explore and call the **REST API**. \n\n## Authentication\n\nSend a Bearer token with each request:\n\n```http\nAuthorization: Bearer <token>\n```\n\nExample cURL:\n\n```bash\ncurl -H 'Authorization: Bearer <token>' <server>/rest/core/companies\n```\n\nTokens can be generated in Settings → Playground and are workspace-scoped.\n\n\n## Filters\n\nUse the `filter` query parameter to narrow results.\n\n- Format: `field[COMPARATOR]:value`\n- Multiple conditions: `field1[eq]:1,field2[gte]:10` (root conjunction is AND)\n- Composite fields: `field.subField[COMPARATOR]:value`\n- Common comparators: `eq`, `neq`, `in`, `containsAny`, `is`, `gt`, `gte`, `lt`, `lte`, `startsWith`, `like`, `ilike`\n\nExamples:\n\n```text\nfilter=status[eq]:\"open\"\nfilter=createdAt[gte]:\"2024-01-01\"\nfilter=owner.name[ilike]:\"%smith%\"\nfilter=id[in]:[\"id-1\",\"id-2\"]\nfilter=deletedAt[is]:NULL\nfilter=isActive[eq]:true\n```\n\nAdvanced (optional): `and(...)`, `or(...)`, `not(...)` (`not` wraps one condition)\n\n```text\nfilter=or(status[eq]:\"open\",assigneeId[is]:NULL)\n```\n\nNotes: Strings and dates are quoted; numbers are not.\n\n## Pagination and ordering\n\nAll list endpoints use cursor-based pagination.\n\n- Use **limit** to cap page size (default: 60, max: 60).\n- Use **starting_after** to fetch the next page (forward).\n- Use **ending_before** to fetch the previous page (backward).\n- Responses include **pageInfo** with `hasNextPage`, `startCursor`, and `endCursor`.\n\nExamples:\n\n```bash\n# First page\ncurl -H 'Authorization: Bearer <token>' \\\n  '<server>/rest/core/companies?limit=60'\n\n# Next page\ncurl -H 'Authorization: Bearer <token>' \\\n  '<server>/rest/core/companies?limit=60&starting_after=<endCursorFromPreviousPage>'\n\n# Previous page\ncurl -H 'Authorization: Bearer <token>' \\\n  '<server>/rest/core/companies?limit=60&ending_before=<startCursorFromCurrentPage>'\n```\n\nYou can combine pagination with filters and ordering.\n\nOrdering with `order_by`:\n- Shape: `field1,field2[DIRECTION2]`\n- Directions: AscNullsFirst, AscNullsLast, DescNullsFirst, DescNullsLast\n- Default per-field direction: AscNullsFirst\n\nExamples:\n```text\norder_by=createdAt\norder_by=id[AscNullsFirst],createdAt[DescNullsLast]\n```\n\n## Usage with LLMs\n\nYou can use AI to generate code based on the OpenAPI schema with the following URLs:\n\n```text\nCore: https://crm.flowchat.info/rest/open-api/core?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjYmZmNDlkMi0zOWUzLTQxNmQtOWIyNC04MzY4ODY1MWVlYzEiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiY2JmZjQ5ZDItMzllMy00MTZkLTliMjQtODM2ODg2NTFlZWMxIiwiaWF0IjoxNzU4OTk3ODM0LCJleHAiOjQ5MTI1OTc4MzMsImp0aSI6IjQ3N2VmNTQ0LTA2OTgtNDE1Zi1hMzc4LTFhMmY5N2ZjNTg0OCJ9.ey00XwMphYdpyKdH0x2vYCxcOP0onj0AAmGKsePJKZs\nMetadata: https://crm.flowchat.info/rest/open-api/metadata?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjYmZmNDlkMi0zOWUzLTQxNmQtOWIyNC04MzY4ODY1MWVlYzEiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiY2JmZjQ5ZDItMzllMy00MTZkLTliMjQtODM2ODg2NTFlZWMxIiwiaWF0IjoxNzU4OTk3ODM0LCJleHAiOjQ5MTI1OTc4MzMsImp0aSI6IjQ3N2VmNTQ0LTA2OTgtNDE1Zi1hMzc4LTFhMmY5N2ZjNTg0OCJ9.ey00XwMphYdpyKdH0x2vYCxcOP0onj0AAmGKsePJKZs\n```\n\nQuick prompt example (Cursor or any agent):\n\n```text\nHere is an OpenAPI schema for the Twenty REST API:\nhttps://crm.flowchat.info/rest/open-api/core?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjYmZmNDlkMi0zOWUzLTQxNmQtOWIyNC04MzY4ODY1MWVlYzEiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiY2JmZjQ5ZDItMzllMy00MTZkLTliMjQtODM2ODg2NTFlZWMxIiwiaWF0IjoxNzU4OTk3ODM0LCJleHAiOjQ5MTI1OTc4MzMsImp0aSI6IjQ3N2VmNTQ0LTA2OTgtNDE1Zi1hMzc4LTFhMmY5N2ZjNTg0OCJ9.ey00XwMphYdpyKdH0x2vYCxcOP0onj0AAmGKsePJKZs\n\nUse it to list companies created after 2024-01-01, ordered by createdAt desc, and include only 20 results.\n```\n\nNotes:\n- Treat the token like a secret; prefer a short-lived Playground token.\n- Most editors can fetch and process the schema even if it's large.\n","termsOfService":"https://github.com/twentyhq/twenty?tab=coc-ov-file#readme","contact":{"email":"felix@twenty.com"},"license":{"name":"AGPL-3.0","url":"https://github.com/twentyhq/twenty?tab=License-1-ov-file#readme"},"version":"v0.1"},"servers":[{"url":"https://crm.flowchat.info/rest/","description":"Production Development"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Enter the token with the `Bearer: ` prefix, e.g. \"Bearer abcde12345\"."}},"schemas":{"Attachment":{"type":"object","description":"An attachment","properties":{"type":{"type":"string","description":"Attachment type"},"fullPath":{"type":"string","description":"Attachment full path"},"taskId":{"type":"string","format":"uuid"},"authorId":{"type":"string","format":"uuid"},"name":{"type":"string","description":"Attachment name"},"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"}},"example":{"name":"Attachment name"}},"AttachmentForUpdate":{"type":"object","description":"An attachment","properties":{"type":{"type":"string","description":"Attachment type"},"fullPath":{"type":"string","description":"Attachment full path"},"taskId":{"type":"string","format":"uuid"},"authorId":{"type":"string","format":"uuid"},"name":{"type":"string","description":"Attachment name"},"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"}},"example":{"name":"Attachment name"}},"AttachmentForResponse":{"type":"object","description":"An attachment","properties":{"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"type":{"type":"string","description":"Attachment type"},"fullPath":{"type":"string","description":"Attachment full path"},"taskId":{"type":"string","format":"uuid"},"authorId":{"type":"string","format":"uuid"},"name":{"type":"string","description":"Attachment name"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"id":{"type":"string","format":"uuid","description":"Id"},"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"task":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TaskForResponse"}],"description":"Attachment task"},"author":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Attachment author"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"Attachment opportunity"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Attachment company"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Attachment person"},"note":{"type":"object","oneOf":[{"$ref":"#/components/schemas/NoteForResponse"}],"description":"Attachment note"}}},"Blocklist":{"type":"object","description":"Blocklist","properties":{"workspaceMemberId":{"type":"string","format":"uuid"},"handle":{"type":"string","description":"Handle"}},"example":{}},"BlocklistForUpdate":{"type":"object","description":"Blocklist","properties":{"workspaceMemberId":{"type":"string","format":"uuid"},"handle":{"type":"string","description":"Handle"}},"example":{}},"BlocklistForResponse":{"type":"object","description":"Blocklist","properties":{"workspaceMemberId":{"type":"string","format":"uuid"},"id":{"type":"string","format":"uuid","description":"Id"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"handle":{"type":"string","description":"Handle"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"workspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"WorkspaceMember"}}},"CalendarChannelEventAssociation":{"type":"object","description":"Calendar Channel Event Associations","properties":{"eventExternalId":{"type":"string","description":"Event external ID"},"calendarEventId":{"type":"string","format":"uuid"},"calendarChannelId":{"type":"string","format":"uuid"},"recurringEventExternalId":{"type":"string","description":"Recurring Event ID"}},"example":{}},"CalendarChannelEventAssociationForUpdate":{"type":"object","description":"Calendar Channel Event Associations","properties":{"eventExternalId":{"type":"string","description":"Event external ID"},"calendarEventId":{"type":"string","format":"uuid"},"calendarChannelId":{"type":"string","format":"uuid"},"recurringEventExternalId":{"type":"string","description":"Recurring Event ID"}},"example":{}},"CalendarChannelEventAssociationForResponse":{"type":"object","description":"Calendar Channel Event Associations","properties":{"eventExternalId":{"type":"string","description":"Event external ID"},"calendarEventId":{"type":"string","format":"uuid"},"calendarChannelId":{"type":"string","format":"uuid"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"recurringEventExternalId":{"type":"string","description":"Recurring Event ID"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"calendarEvent":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CalendarEventForResponse"}],"description":"Event ID"},"calendarChannel":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CalendarChannelForResponse"}],"description":"Channel ID"}}},"CalendarChannel":{"type":"object","description":"Calendar Channels","properties":{"handle":{"type":"string","description":"Handle"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncStage":{"type":"string","enum":["CALENDAR_EVENT_LIST_FETCH_PENDING","CALENDAR_EVENT_LIST_FETCH_SCHEDULED","CALENDAR_EVENT_LIST_FETCH_ONGOING","CALENDAR_EVENTS_IMPORT_PENDING","CALENDAR_EVENTS_IMPORT_SCHEDULED","CALENDAR_EVENTS_IMPORT_ONGOING","FAILED","FULL_CALENDAR_EVENT_LIST_FETCH_PENDING","PARTIAL_CALENDAR_EVENT_LIST_FETCH_PENDING"],"description":"Sync stage"},"visibility":{"type":"string","enum":["METADATA","SHARE_EVERYTHING"],"description":"Visibility"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"contactAutoCreationPolicy":{"type":"string","enum":["AS_PARTICIPANT_AND_ORGANIZER","AS_PARTICIPANT","AS_ORGANIZER","NONE"],"description":"Automatically create records for people you participated with in an event."},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Sync Cursor. Used for syncing events from the calendar provider"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"connectedAccountId":{"type":"string","format":"uuid"}},"example":{"syncStatus":["ONGOING"],"syncStage":["CALENDAR_EVENT_LIST_FETCH_PENDING"],"visibility":["METADATA"],"contactAutoCreationPolicy":["AS_PARTICIPANT_AND_ORGANIZER"]}},"CalendarChannelForUpdate":{"type":"object","description":"Calendar Channels","properties":{"handle":{"type":"string","description":"Handle"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncStage":{"type":"string","enum":["CALENDAR_EVENT_LIST_FETCH_PENDING","CALENDAR_EVENT_LIST_FETCH_SCHEDULED","CALENDAR_EVENT_LIST_FETCH_ONGOING","CALENDAR_EVENTS_IMPORT_PENDING","CALENDAR_EVENTS_IMPORT_SCHEDULED","CALENDAR_EVENTS_IMPORT_ONGOING","FAILED","FULL_CALENDAR_EVENT_LIST_FETCH_PENDING","PARTIAL_CALENDAR_EVENT_LIST_FETCH_PENDING"],"description":"Sync stage"},"visibility":{"type":"string","enum":["METADATA","SHARE_EVERYTHING"],"description":"Visibility"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"contactAutoCreationPolicy":{"type":"string","enum":["AS_PARTICIPANT_AND_ORGANIZER","AS_PARTICIPANT","AS_ORGANIZER","NONE"],"description":"Automatically create records for people you participated with in an event."},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Sync Cursor. Used for syncing events from the calendar provider"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"connectedAccountId":{"type":"string","format":"uuid"}},"example":{"syncStatus":["ONGOING"],"syncStage":["CALENDAR_EVENT_LIST_FETCH_PENDING"],"visibility":["METADATA"],"contactAutoCreationPolicy":["AS_PARTICIPANT_AND_ORGANIZER"]}},"CalendarChannelForResponse":{"type":"object","description":"Calendar Channels","properties":{"handle":{"type":"string","description":"Handle"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncStage":{"type":"string","enum":["CALENDAR_EVENT_LIST_FETCH_PENDING","CALENDAR_EVENT_LIST_FETCH_SCHEDULED","CALENDAR_EVENT_LIST_FETCH_ONGOING","CALENDAR_EVENTS_IMPORT_PENDING","CALENDAR_EVENTS_IMPORT_SCHEDULED","CALENDAR_EVENTS_IMPORT_ONGOING","FAILED","FULL_CALENDAR_EVENT_LIST_FETCH_PENDING","PARTIAL_CALENDAR_EVENT_LIST_FETCH_PENDING"],"description":"Sync stage"},"visibility":{"type":"string","enum":["METADATA","SHARE_EVERYTHING"],"description":"Visibility"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"contactAutoCreationPolicy":{"type":"string","enum":["AS_PARTICIPANT_AND_ORGANIZER","AS_PARTICIPANT","AS_ORGANIZER","NONE"],"description":"Automatically create records for people you participated with in an event."},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"syncCursor":{"type":"string","description":"Sync Cursor. Used for syncing events from the calendar provider"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"connectedAccountId":{"type":"string","format":"uuid"},"calendarChannelEventAssociations":{"type":"array","items":{"$ref":"#/components/schemas/CalendarChannelEventAssociationForResponse"},"description":"Calendar Channel Event Associations"},"connectedAccount":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ConnectedAccountForResponse"}],"description":"Connected Account"}}},"CalendarEventParticipant":{"type":"object","description":"Calendar event participants","properties":{"workspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"handle":{"type":"string","description":"Handle"},"isOrganizer":{"type":"boolean","description":"Is Organizer"},"calendarEventId":{"type":"string","format":"uuid"},"responseStatus":{"type":"string","enum":["NEEDS_ACTION","DECLINED","TENTATIVE","ACCEPTED"],"description":"Response Status"},"displayName":{"type":"string","description":"Display Name"}},"example":{"responseStatus":["NEEDS_ACTION"]}},"CalendarEventParticipantForUpdate":{"type":"object","description":"Calendar event participants","properties":{"workspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"handle":{"type":"string","description":"Handle"},"isOrganizer":{"type":"boolean","description":"Is Organizer"},"calendarEventId":{"type":"string","format":"uuid"},"responseStatus":{"type":"string","enum":["NEEDS_ACTION","DECLINED","TENTATIVE","ACCEPTED"],"description":"Response Status"},"displayName":{"type":"string","description":"Display Name"}},"example":{"responseStatus":["NEEDS_ACTION"]}},"CalendarEventParticipantForResponse":{"type":"object","description":"Calendar event participants","properties":{"workspaceMemberId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"handle":{"type":"string","description":"Handle"},"isOrganizer":{"type":"boolean","description":"Is Organizer"},"calendarEventId":{"type":"string","format":"uuid"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"responseStatus":{"type":"string","enum":["NEEDS_ACTION","DECLINED","TENTATIVE","ACCEPTED"],"description":"Response Status"},"id":{"type":"string","format":"uuid","description":"Id"},"displayName":{"type":"string","description":"Display Name"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"workspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Workspace Member"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Person"},"calendarEvent":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CalendarEventForResponse"}],"description":"Event ID"}}},"CalendarEvent":{"type":"object","description":"Calendar events","properties":{"conferenceLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Meet Link"},"location":{"type":"string","description":"Location"},"iCalUID":{"type":"string","description":"iCal UID"},"description":{"type":"string","description":"Description"},"externalUpdatedAt":{"type":"string","format":"date-time","description":"Update DateTime"},"externalCreatedAt":{"type":"string","format":"date-time","description":"Creation DateTime"},"endsAt":{"type":"string","format":"date-time","description":"End Date"},"startsAt":{"type":"string","format":"date-time","description":"Start Date"},"isFullDay":{"type":"boolean","description":"Is Full Day"},"isCanceled":{"type":"boolean","description":"Is canceled"},"conferenceSolution":{"type":"string","description":"Conference Solution"},"title":{"type":"string","description":"Title"}},"example":{"conferenceLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://cruel-schnitzel.com/","additionalLinks":[]}}},"CalendarEventForUpdate":{"type":"object","description":"Calendar events","properties":{"conferenceLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Meet Link"},"location":{"type":"string","description":"Location"},"iCalUID":{"type":"string","description":"iCal UID"},"description":{"type":"string","description":"Description"},"externalUpdatedAt":{"type":"string","format":"date-time","description":"Update DateTime"},"externalCreatedAt":{"type":"string","format":"date-time","description":"Creation DateTime"},"endsAt":{"type":"string","format":"date-time","description":"End Date"},"startsAt":{"type":"string","format":"date-time","description":"Start Date"},"isFullDay":{"type":"boolean","description":"Is Full Day"},"isCanceled":{"type":"boolean","description":"Is canceled"},"conferenceSolution":{"type":"string","description":"Conference Solution"},"title":{"type":"string","description":"Title"}},"example":{"conferenceLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://digital-supplier.biz/","additionalLinks":[]}}},"CalendarEventForResponse":{"type":"object","description":"Calendar events","properties":{"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"conferenceLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Meet Link"},"location":{"type":"string","description":"Location"},"iCalUID":{"type":"string","description":"iCal UID"},"description":{"type":"string","description":"Description"},"externalUpdatedAt":{"type":"string","format":"date-time","description":"Update DateTime"},"externalCreatedAt":{"type":"string","format":"date-time","description":"Creation DateTime"},"endsAt":{"type":"string","format":"date-time","description":"End Date"},"startsAt":{"type":"string","format":"date-time","description":"Start Date"},"isFullDay":{"type":"boolean","description":"Is Full Day"},"isCanceled":{"type":"boolean","description":"Is canceled"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"conferenceSolution":{"type":"string","description":"Conference Solution"},"title":{"type":"string","description":"Title"},"calendarChannelEventAssociations":{"type":"array","items":{"$ref":"#/components/schemas/CalendarChannelEventAssociationForResponse"},"description":"Calendar Channel Event Associations"},"calendarEventParticipants":{"type":"array","items":{"$ref":"#/components/schemas/CalendarEventParticipantForResponse"},"description":"Event Participants"}}},"Company":{"type":"object","description":"A company","properties":{"accountOwnerId":{"type":"string","format":"uuid"},"name":{"type":"string","description":"The company name"},"domainName":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company website URL. We use this url to fetch the company icon"},"employees":{"type":"integer","description":"Number of employees in the company"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Linkedin account"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Twitter/X account"},"annualRecurringRevenue":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Annual Recurring Revenue: The actual or estimated annual revenue of the company"},"address":{"type":"object","properties":{"addressStreet1":{"type":"string"},"addressStreet2":{"type":"string"},"addressCity":{"type":"string"},"addressPostcode":{"type":"string"},"addressState":{"type":"string"},"addressCountry":{"type":"string"},"addressLat":{"type":"number"},"addressLng":{"type":"number"}},"description":"Address of the company"},"idealCustomerProfile":{"type":"boolean","description":"Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"},"position":{"type":"number","description":"Company record position"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"}},"example":{"name":"Company name","domainName":{"primaryLinkLabel":"","primaryLinkUrl":"https://warmhearted-defendant.org","additionalLinks":[]},"linkedinLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://diligent-spirit.info","additionalLinks":[]},"xLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://unfinished-gazebo.org/","additionalLinks":[]},"annualRecurringRevenue":{"amountMicros":448000000,"currencyCode":"EUR"}}},"CompanyForUpdate":{"type":"object","description":"A company","properties":{"accountOwnerId":{"type":"string","format":"uuid"},"name":{"type":"string","description":"The company name"},"domainName":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company website URL. We use this url to fetch the company icon"},"employees":{"type":"integer","description":"Number of employees in the company"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Linkedin account"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Twitter/X account"},"annualRecurringRevenue":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Annual Recurring Revenue: The actual or estimated annual revenue of the company"},"address":{"type":"object","properties":{"addressStreet1":{"type":"string"},"addressStreet2":{"type":"string"},"addressCity":{"type":"string"},"addressPostcode":{"type":"string"},"addressState":{"type":"string"},"addressCountry":{"type":"string"},"addressLat":{"type":"number"},"addressLng":{"type":"number"}},"description":"Address of the company"},"idealCustomerProfile":{"type":"boolean","description":"Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"},"position":{"type":"number","description":"Company record position"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"}},"example":{"name":"Company name","domainName":{"primaryLinkLabel":"","primaryLinkUrl":"https://trim-barge.name","additionalLinks":[]},"linkedinLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://reasonable-gown.info","additionalLinks":[]},"xLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://musty-stranger.org/","additionalLinks":[]},"annualRecurringRevenue":{"amountMicros":307000000,"currencyCode":"EUR"}}},"CompanyForResponse":{"type":"object","description":"A company","properties":{"accountOwnerId":{"type":"string","format":"uuid"},"name":{"type":"string","description":"The company name"},"domainName":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company website URL. We use this url to fetch the company icon"},"employees":{"type":"integer","description":"Number of employees in the company"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Linkedin account"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"The company Twitter/X account"},"annualRecurringRevenue":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Annual Recurring Revenue: The actual or estimated annual revenue of the company"},"address":{"type":"object","properties":{"addressStreet1":{"type":"string"},"addressStreet2":{"type":"string"},"addressCity":{"type":"string"},"addressPostcode":{"type":"string"},"addressState":{"type":"string"},"addressCountry":{"type":"string"},"addressLat":{"type":"number"},"addressLng":{"type":"number"}},"description":"Address of the company"},"idealCustomerProfile":{"type":"boolean","description":"Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"},"position":{"type":"number","description":"Company record position"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"accountOwner":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Your team member responsible for managing the company account"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Timeline Activities linked to the company"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Attachments linked to the company"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the company"},"opportunities":{"type":"array","items":{"$ref":"#/components/schemas/OpportunityForResponse"},"description":"Opportunities linked to the company."},"noteTargets":{"type":"array","items":{"$ref":"#/components/schemas/NoteTargetForResponse"},"description":"Notes tied to the company"},"taskTargets":{"type":"array","items":{"$ref":"#/components/schemas/TaskTargetForResponse"},"description":"Tasks tied to the company"},"people":{"type":"array","items":{"$ref":"#/components/schemas/PersonForResponse"},"description":"People linked to the company."}}},"ConnectedAccount":{"type":"object","description":"A connected account","properties":{"handle":{"type":"string","description":"The account handle (email, username, phone number, etc.)"},"provider":{"type":"string","description":"The account provider"},"accessToken":{"type":"string","description":"Messaging provider access token"},"refreshToken":{"type":"string","description":"Messaging provider refresh token"},"lastSyncHistoryId":{"type":"string","description":"Last sync history ID"},"authFailedAt":{"type":"string","format":"date-time","description":"Auth failed at"},"handleAliases":{"type":"string","description":"Handle Aliases"},"scopes":{"type":"array","items":{"type":"string"},"description":"Scopes"},"connectionParameters":{"type":"object","description":"JSON object containing custom connection parameters"},"accountOwnerId":{"type":"string","format":"uuid"}},"example":{}},"ConnectedAccountForUpdate":{"type":"object","description":"A connected account","properties":{"handle":{"type":"string","description":"The account handle (email, username, phone number, etc.)"},"provider":{"type":"string","description":"The account provider"},"accessToken":{"type":"string","description":"Messaging provider access token"},"refreshToken":{"type":"string","description":"Messaging provider refresh token"},"lastSyncHistoryId":{"type":"string","description":"Last sync history ID"},"authFailedAt":{"type":"string","format":"date-time","description":"Auth failed at"},"handleAliases":{"type":"string","description":"Handle Aliases"},"scopes":{"type":"array","items":{"type":"string"},"description":"Scopes"},"connectionParameters":{"type":"object","description":"JSON object containing custom connection parameters"},"accountOwnerId":{"type":"string","format":"uuid"}},"example":{}},"ConnectedAccountForResponse":{"type":"object","description":"A connected account","properties":{"id":{"type":"string","format":"uuid","description":"Id"},"handle":{"type":"string","description":"The account handle (email, username, phone number, etc.)"},"provider":{"type":"string","description":"The account provider"},"accessToken":{"type":"string","description":"Messaging provider access token"},"refreshToken":{"type":"string","description":"Messaging provider refresh token"},"lastSyncHistoryId":{"type":"string","description":"Last sync history ID"},"authFailedAt":{"type":"string","format":"date-time","description":"Auth failed at"},"handleAliases":{"type":"string","description":"Handle Aliases"},"scopes":{"type":"array","items":{"type":"string"},"description":"Scopes"},"connectionParameters":{"type":"object","description":"JSON object containing custom connection parameters"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"accountOwnerId":{"type":"string","format":"uuid"},"calendarChannels":{"type":"array","items":{"$ref":"#/components/schemas/CalendarChannelForResponse"},"description":"Calendar Channels"},"messageChannels":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelForResponse"},"description":"Message Channels"},"accountOwner":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Account Owner"}}},"FavoriteFolder":{"type":"object","description":"A Folder of favorites","properties":{"name":{"type":"string","description":"Name of the favorite folder"},"position":{"type":"integer","description":"Favorite folder position"}},"example":{"name":"Favorite Folder name"}},"FavoriteFolderForUpdate":{"type":"object","description":"A Folder of favorites","properties":{"name":{"type":"string","description":"Name of the favorite folder"},"position":{"type":"integer","description":"Favorite folder position"}},"example":{"name":"Favorite Folder name"}},"FavoriteFolderForResponse":{"type":"object","description":"A Folder of favorites","properties":{"name":{"type":"string","description":"Name of the favorite folder"},"position":{"type":"integer","description":"Favorite folder position"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites in this folder"}}},"Favorite":{"type":"object","description":"A favorite that can be accessed from the left menu","properties":{"workflowId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"favoriteFolderId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"forWorkspaceMemberId":{"type":"string","format":"uuid"},"position":{"type":"integer","description":"Favorite position"},"viewId":{"type":"string","format":"uuid","description":"ViewId"},"noteId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"workflowRunId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"}},"example":{}},"FavoriteForUpdate":{"type":"object","description":"A favorite that can be accessed from the left menu","properties":{"workflowId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"favoriteFolderId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"forWorkspaceMemberId":{"type":"string","format":"uuid"},"position":{"type":"integer","description":"Favorite position"},"viewId":{"type":"string","format":"uuid","description":"ViewId"},"noteId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"workflowRunId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"}},"example":{}},"FavoriteForResponse":{"type":"object","description":"A favorite that can be accessed from the left menu","properties":{"workflowId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"favoriteFolderId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"forWorkspaceMemberId":{"type":"string","format":"uuid"},"position":{"type":"integer","description":"Favorite position"},"viewId":{"type":"string","format":"uuid","description":"ViewId"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"noteId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"workflowRunId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"workflow":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowForResponse"}],"description":"Favorite workflow"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"Favorite opportunity"},"favoriteFolder":{"type":"object","oneOf":[{"$ref":"#/components/schemas/FavoriteFolderForResponse"}],"description":"The folder this favorite belongs to"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Favorite company"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Favorite person"},"forWorkspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Favorite workspace member"},"note":{"type":"object","oneOf":[{"$ref":"#/components/schemas/NoteForResponse"}],"description":"Favorite note"},"task":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TaskForResponse"}],"description":"Favorite task"},"workflowRun":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowRunForResponse"}],"description":"Favorite workflow run"},"workflowVersion":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowVersionForResponse"}],"description":"Favorite workflow version"}}},"MessageChannelMessageAssociation":{"type":"object","description":"Message Synced with a Message Channel","properties":{"messageThreadExternalId":{"type":"string","description":"Thread id from the messaging provider"},"direction":{"type":"string","enum":["INCOMING","OUTGOING"],"description":"Message Direction"},"messageExternalId":{"type":"string","description":"Message id from the messaging provider"},"messageChannelId":{"type":"string","format":"uuid"},"messageId":{"type":"string","format":"uuid"}},"example":{"direction":["INCOMING"]}},"MessageChannelMessageAssociationForUpdate":{"type":"object","description":"Message Synced with a Message Channel","properties":{"messageThreadExternalId":{"type":"string","description":"Thread id from the messaging provider"},"direction":{"type":"string","enum":["INCOMING","OUTGOING"],"description":"Message Direction"},"messageExternalId":{"type":"string","description":"Message id from the messaging provider"},"messageChannelId":{"type":"string","format":"uuid"},"messageId":{"type":"string","format":"uuid"}},"example":{"direction":["INCOMING"]}},"MessageChannelMessageAssociationForResponse":{"type":"object","description":"Message Synced with a Message Channel","properties":{"messageThreadExternalId":{"type":"string","description":"Thread id from the messaging provider"},"direction":{"type":"string","enum":["INCOMING","OUTGOING"],"description":"Message Direction"},"id":{"type":"string","format":"uuid","description":"Id"},"messageExternalId":{"type":"string","description":"Message id from the messaging provider"},"messageChannelId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"messageId":{"type":"string","format":"uuid"},"messageChannel":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageChannelForResponse"}],"description":"Message Channel Id"},"message":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageForResponse"}],"description":"Message Id"}}},"MessageChannel":{"type":"object","description":"Message Channels","properties":{"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"syncStage":{"type":"string","enum":["MESSAGE_LIST_FETCH_PENDING","MESSAGE_LIST_FETCH_SCHEDULED","MESSAGE_LIST_FETCH_ONGOING","MESSAGES_IMPORT_PENDING","MESSAGES_IMPORT_SCHEDULED","MESSAGES_IMPORT_ONGOING","FAILED","FULL_MESSAGE_LIST_FETCH_PENDING","PARTIAL_MESSAGE_LIST_FETCH_PENDING"],"description":"Sync stage"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncCursor":{"type":"string","description":"Last sync cursor"},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"excludeGroupEmails":{"type":"boolean","description":"Exclude group emails"},"excludeNonProfessionalEmails":{"type":"boolean","description":"Exclude non professional emails"},"contactAutoCreationPolicy":{"type":"string","enum":["SENT_AND_RECEIVED","SENT","NONE"],"description":"Automatically create People records when receiving or sending emails"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"type":{"type":"string","enum":["email","sms"],"description":"Channel Type"},"handle":{"type":"string","description":"Handle"},"visibility":{"type":"string","enum":["METADATA","SUBJECT","SHARE_EVERYTHING"],"description":"Visibility"},"connectedAccountId":{"type":"string","format":"uuid"}},"example":{"syncStage":["MESSAGE_LIST_FETCH_PENDING"],"syncStatus":["ONGOING"],"contactAutoCreationPolicy":["SENT_AND_RECEIVED"],"type":["email"],"visibility":["METADATA"]}},"MessageChannelForUpdate":{"type":"object","description":"Message Channels","properties":{"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"syncStage":{"type":"string","enum":["MESSAGE_LIST_FETCH_PENDING","MESSAGE_LIST_FETCH_SCHEDULED","MESSAGE_LIST_FETCH_ONGOING","MESSAGES_IMPORT_PENDING","MESSAGES_IMPORT_SCHEDULED","MESSAGES_IMPORT_ONGOING","FAILED","FULL_MESSAGE_LIST_FETCH_PENDING","PARTIAL_MESSAGE_LIST_FETCH_PENDING"],"description":"Sync stage"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncCursor":{"type":"string","description":"Last sync cursor"},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"excludeGroupEmails":{"type":"boolean","description":"Exclude group emails"},"excludeNonProfessionalEmails":{"type":"boolean","description":"Exclude non professional emails"},"contactAutoCreationPolicy":{"type":"string","enum":["SENT_AND_RECEIVED","SENT","NONE"],"description":"Automatically create People records when receiving or sending emails"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"type":{"type":"string","enum":["email","sms"],"description":"Channel Type"},"handle":{"type":"string","description":"Handle"},"visibility":{"type":"string","enum":["METADATA","SUBJECT","SHARE_EVERYTHING"],"description":"Visibility"},"connectedAccountId":{"type":"string","format":"uuid"}},"example":{"syncStage":["MESSAGE_LIST_FETCH_PENDING"],"syncStatus":["ONGOING"],"contactAutoCreationPolicy":["SENT_AND_RECEIVED"],"type":["email"],"visibility":["METADATA"]}},"MessageChannelForResponse":{"type":"object","description":"Message Channels","properties":{"throttleFailureCount":{"type":"integer","description":"Throttle Failure Count"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"syncStageStartedAt":{"type":"string","format":"date-time","description":"Sync stage started at"},"syncStage":{"type":"string","enum":["MESSAGE_LIST_FETCH_PENDING","MESSAGE_LIST_FETCH_SCHEDULED","MESSAGE_LIST_FETCH_ONGOING","MESSAGES_IMPORT_PENDING","MESSAGES_IMPORT_SCHEDULED","MESSAGES_IMPORT_ONGOING","FAILED","FULL_MESSAGE_LIST_FETCH_PENDING","PARTIAL_MESSAGE_LIST_FETCH_PENDING"],"description":"Sync stage"},"syncStatus":{"type":"string","enum":["ONGOING","NOT_SYNCED","ACTIVE","FAILED_INSUFFICIENT_PERMISSIONS","FAILED_UNKNOWN"],"description":"Sync status"},"syncedAt":{"type":"string","format":"date-time","description":"Last sync date"},"syncCursor":{"type":"string","description":"Last sync cursor"},"isSyncEnabled":{"type":"boolean","description":"Is Sync Enabled"},"excludeGroupEmails":{"type":"boolean","description":"Exclude group emails"},"excludeNonProfessionalEmails":{"type":"boolean","description":"Exclude non professional emails"},"contactAutoCreationPolicy":{"type":"string","enum":["SENT_AND_RECEIVED","SENT","NONE"],"description":"Automatically create People records when receiving or sending emails"},"isContactAutoCreationEnabled":{"type":"boolean","description":"Is Contact Auto Creation Enabled"},"type":{"type":"string","enum":["email","sms"],"description":"Channel Type"},"handle":{"type":"string","description":"Handle"},"visibility":{"type":"string","enum":["METADATA","SUBJECT","SHARE_EVERYTHING"],"description":"Visibility"},"connectedAccountId":{"type":"string","format":"uuid"},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociationForResponse"},"description":"Messages from the channel."},"messageFolders":{"type":"array","items":{"$ref":"#/components/schemas/MessageFolderForResponse"},"description":"Message Folders"},"connectedAccount":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ConnectedAccountForResponse"}],"description":"Connected Account"}}},"MessageFolder":{"type":"object","description":"Folder for Message Channel","properties":{"messageChannelId":{"type":"string","format":"uuid"},"syncCursor":{"type":"string","description":"Sync Cursor"},"name":{"type":"string","description":"Folder name"},"externalId":{"type":"string","description":"External ID"},"isSynced":{"type":"boolean","description":"Is Synced"},"isSentFolder":{"type":"boolean","description":"Is Sent Folder"}},"example":{"name":"Message Folder name"}},"MessageFolderForUpdate":{"type":"object","description":"Folder for Message Channel","properties":{"messageChannelId":{"type":"string","format":"uuid"},"syncCursor":{"type":"string","description":"Sync Cursor"},"name":{"type":"string","description":"Folder name"},"externalId":{"type":"string","description":"External ID"},"isSynced":{"type":"boolean","description":"Is Synced"},"isSentFolder":{"type":"boolean","description":"Is Sent Folder"}},"example":{"name":"Message Folder name"}},"MessageFolderForResponse":{"type":"object","description":"Folder for Message Channel","properties":{"messageChannelId":{"type":"string","format":"uuid"},"syncCursor":{"type":"string","description":"Sync Cursor"},"name":{"type":"string","description":"Folder name"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"externalId":{"type":"string","description":"External ID"},"isSynced":{"type":"boolean","description":"Is Synced"},"isSentFolder":{"type":"boolean","description":"Is Sent Folder"},"messageChannel":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageChannelForResponse"}],"description":"Message Channel"}}},"MessageParticipant":{"type":"object","description":"Message Participants","properties":{"role":{"type":"string","enum":["from","to","cc","bcc"],"description":"Role"},"personId":{"type":"string","format":"uuid"},"workspaceMemberId":{"type":"string","format":"uuid"},"displayName":{"type":"string","description":"Display Name"},"handle":{"type":"string","description":"Handle"},"messageId":{"type":"string","format":"uuid"}},"example":{"role":["from"]}},"MessageParticipantForUpdate":{"type":"object","description":"Message Participants","properties":{"role":{"type":"string","enum":["from","to","cc","bcc"],"description":"Role"},"personId":{"type":"string","format":"uuid"},"workspaceMemberId":{"type":"string","format":"uuid"},"displayName":{"type":"string","description":"Display Name"},"handle":{"type":"string","description":"Handle"},"messageId":{"type":"string","format":"uuid"}},"example":{"role":["from"]}},"MessageParticipantForResponse":{"type":"object","description":"Message Participants","properties":{"role":{"type":"string","enum":["from","to","cc","bcc"],"description":"Role"},"personId":{"type":"string","format":"uuid"},"workspaceMemberId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"displayName":{"type":"string","description":"Display Name"},"handle":{"type":"string","description":"Handle"},"messageId":{"type":"string","format":"uuid"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Person"},"workspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Workspace member"},"message":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageForResponse"}],"description":"Message"}}},"Message":{"type":"object","description":"A message sent or received through a messaging channel (email, chat, etc.)","properties":{"receivedAt":{"type":"string","format":"date-time","description":"The date the message was received"},"text":{"type":"string","description":"Text"},"subject":{"type":"string","description":"Subject"},"messageThreadId":{"type":"string","format":"uuid"},"headerMessageId":{"type":"string","description":"Message id from the message header"}},"example":{}},"MessageForUpdate":{"type":"object","description":"A message sent or received through a messaging channel (email, chat, etc.)","properties":{"receivedAt":{"type":"string","format":"date-time","description":"The date the message was received"},"text":{"type":"string","description":"Text"},"subject":{"type":"string","description":"Subject"},"messageThreadId":{"type":"string","format":"uuid"},"headerMessageId":{"type":"string","description":"Message id from the message header"}},"example":{}},"MessageForResponse":{"type":"object","description":"A message sent or received through a messaging channel (email, chat, etc.)","properties":{"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"receivedAt":{"type":"string","format":"date-time","description":"The date the message was received"},"text":{"type":"string","description":"Text"},"subject":{"type":"string","description":"Subject"},"messageThreadId":{"type":"string","format":"uuid"},"headerMessageId":{"type":"string","description":"Message id from the message header"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"messageThread":{"type":"object","oneOf":[{"$ref":"#/components/schemas/MessageThreadForResponse"}],"description":"Message Thread Id"},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipantForResponse"},"description":"Message Participants"},"messageChannelMessageAssociations":{"type":"array","items":{"$ref":"#/components/schemas/MessageChannelMessageAssociationForResponse"},"description":"Messages from the channel."}}},"MessageThread":{"type":"object","description":"A group of related messages (e.g. email thread, chat thread)","properties":{},"example":{}},"MessageThreadForUpdate":{"type":"object","description":"A group of related messages (e.g. email thread, chat thread)","properties":{},"example":{}},"MessageThreadForResponse":{"type":"object","description":"A group of related messages (e.g. email thread, chat thread)","properties":{"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/MessageForResponse"},"description":"Messages from the thread."}}},"Note":{"type":"object","description":"A note","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Note body"},"title":{"type":"string","description":"Note title"},"position":{"type":"number","description":"Note record position"}},"example":{}},"NoteForUpdate":{"type":"object","description":"A note","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Note body"},"title":{"type":"string","description":"Note title"},"position":{"type":"number","description":"Note record position"}},"example":{}},"NoteForResponse":{"type":"object","description":"A note","properties":{"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Note body"},"title":{"type":"string","description":"Note title"},"position":{"type":"number","description":"Note record position"},"id":{"type":"string","format":"uuid","description":"Id"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the note"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Timeline Activities linked to the note."},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Note attachments"},"noteTargets":{"type":"array","items":{"$ref":"#/components/schemas/NoteTargetForResponse"},"description":"Note targets"}}},"NoteTarget":{"type":"object","description":"A note target","properties":{"noteId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"}},"example":{}},"NoteTargetForUpdate":{"type":"object","description":"A note target","properties":{"noteId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"}},"example":{}},"NoteTargetForResponse":{"type":"object","description":"A note target","properties":{"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"noteId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"opportunityId":{"type":"string","format":"uuid"},"note":{"type":"object","oneOf":[{"$ref":"#/components/schemas/NoteForResponse"}],"description":"NoteTarget note"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"NoteTarget person"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"NoteTarget company"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"NoteTarget opportunity"}}},"Opportunity":{"type":"object","description":"An opportunity","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"pointOfContactId":{"type":"string","format":"uuid"},"amount":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Opportunity amount"},"closeDate":{"type":"string","format":"date-time","description":"Opportunity close date"},"companyId":{"type":"string","format":"uuid"},"stage":{"type":"string","enum":["NEW","SCREENING","MEETING","PROPOSAL","CUSTOMER"],"description":"Opportunity stage"},"name":{"type":"string","description":"The opportunity name"},"position":{"type":"number","description":"Opportunity record position"}},"example":{"amount":{"amountMicros":119000000,"currencyCode":"EUR"},"stage":["NEW"],"name":"Opportunity name"}},"OpportunityForUpdate":{"type":"object","description":"An opportunity","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"pointOfContactId":{"type":"string","format":"uuid"},"amount":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Opportunity amount"},"closeDate":{"type":"string","format":"date-time","description":"Opportunity close date"},"companyId":{"type":"string","format":"uuid"},"stage":{"type":"string","enum":["NEW","SCREENING","MEETING","PROPOSAL","CUSTOMER"],"description":"Opportunity stage"},"name":{"type":"string","description":"The opportunity name"},"position":{"type":"number","description":"Opportunity record position"}},"example":{"amount":{"amountMicros":622000000,"currencyCode":"EUR"},"stage":["NEW"],"name":"Opportunity name"}},"OpportunityForResponse":{"type":"object","description":"An opportunity","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"pointOfContactId":{"type":"string","format":"uuid"},"amount":{"type":"object","properties":{"amountMicros":{"type":"number"},"currencyCode":{"type":"string"}},"description":"Opportunity amount"},"closeDate":{"type":"string","format":"date-time","description":"Opportunity close date"},"companyId":{"type":"string","format":"uuid"},"stage":{"type":"string","enum":["NEW","SCREENING","MEETING","PROPOSAL","CUSTOMER"],"description":"Opportunity stage"},"name":{"type":"string","description":"The opportunity name"},"position":{"type":"number","description":"Opportunity record position"},"pointOfContact":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Opportunity point of contact"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Opportunity company"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Timeline Activities linked to the opportunity."},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Attachments linked to the opportunity"},"noteTargets":{"type":"array","items":{"$ref":"#/components/schemas/NoteTargetForResponse"},"description":"Notes tied to the opportunity"},"taskTargets":{"type":"array","items":{"$ref":"#/components/schemas/TaskTargetForResponse"},"description":"Tasks tied to the opportunity"},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the opportunity"}}},"Person":{"type":"object","description":"A person","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"position":{"type":"number","description":"Person record Position"},"avatarUrl":{"type":"string","description":"Contact’s avatar"},"companyId":{"type":"string","format":"uuid"},"city":{"type":"string","description":"Contact’s city"},"phones":{"properties":{"additionalPhones":{"type":"array","items":{"type":"string"}},"primaryPhoneCountryCode":{"type":"string"},"primaryPhoneCallingCode":{"type":"string"},"primaryPhoneNumber":{"type":"string"}},"type":"object","description":"Contact’s phone numbers"},"jobTitle":{"type":"string","description":"Contact’s job title"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s X/Twitter account"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s Linkedin account"},"emails":{"type":"object","properties":{"primaryEmail":{"type":"string"},"additionalEmails":{"type":"array","items":{"type":"string","format":"email"}}},"description":"Contact’s Emails"},"name":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Contact’s name"}},"example":{"phones":{"primaryPhoneNumber":"06 10 20 30 40","primaryPhoneCallingCode":"+33","primaryPhoneCountryCode":"FR","additionalPhones":[]},"xLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://knotty-depot.name","additionalLinks":[]},"linkedinLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://frightened-governance.info/","additionalLinks":[]},"emails":{"primaryEmail":"aylin82@yahoo.com","additionalEmails":null},"name":{"firstName":"Makenna","lastName":"Lang"}}},"PersonForUpdate":{"type":"object","description":"A person","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"position":{"type":"number","description":"Person record Position"},"avatarUrl":{"type":"string","description":"Contact’s avatar"},"companyId":{"type":"string","format":"uuid"},"city":{"type":"string","description":"Contact’s city"},"phones":{"properties":{"additionalPhones":{"type":"array","items":{"type":"string"}},"primaryPhoneCountryCode":{"type":"string"},"primaryPhoneCallingCode":{"type":"string"},"primaryPhoneNumber":{"type":"string"}},"type":"object","description":"Contact’s phone numbers"},"jobTitle":{"type":"string","description":"Contact’s job title"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s X/Twitter account"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s Linkedin account"},"emails":{"type":"object","properties":{"primaryEmail":{"type":"string"},"additionalEmails":{"type":"array","items":{"type":"string","format":"email"}}},"description":"Contact’s Emails"},"name":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Contact’s name"}},"example":{"phones":{"primaryPhoneNumber":"06 10 20 30 40","primaryPhoneCallingCode":"+33","primaryPhoneCountryCode":"FR","additionalPhones":[]},"xLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://foolhardy-concentration.name/","additionalLinks":[]},"linkedinLink":{"primaryLinkLabel":"","primaryLinkUrl":"https://spiteful-honesty.name/","additionalLinks":[]},"emails":{"primaryEmail":"leda.rutherford70@gmail.com","additionalEmails":null},"name":{"firstName":"Christop","lastName":"Gottlieb"}}},"PersonForResponse":{"type":"object","description":"A person","properties":{"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"position":{"type":"number","description":"Person record Position"},"avatarUrl":{"type":"string","description":"Contact’s avatar"},"companyId":{"type":"string","format":"uuid"},"city":{"type":"string","description":"Contact’s city"},"phones":{"properties":{"additionalPhones":{"type":"array","items":{"type":"string"}},"primaryPhoneCountryCode":{"type":"string"},"primaryPhoneCallingCode":{"type":"string"},"primaryPhoneNumber":{"type":"string"}},"type":"object","description":"Contact’s phone numbers"},"jobTitle":{"type":"string","description":"Contact’s job title"},"xLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s X/Twitter account"},"linkedinLink":{"type":"object","properties":{"primaryLinkLabel":{"type":"string"},"primaryLinkUrl":{"type":"string"},"secondaryLinks":{"type":"array","items":{"type":"object","description":"A secondary link","properties":{"url":{"type":"string","format":"uri"},"label":{"type":"string"}}}}},"description":"Contact’s Linkedin account"},"emails":{"type":"object","properties":{"primaryEmail":{"type":"string"},"additionalEmails":{"type":"array","items":{"type":"string","format":"email"}}},"description":"Contact’s Emails"},"name":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Contact’s name"},"pointOfContactForOpportunities":{"type":"array","items":{"$ref":"#/components/schemas/OpportunityForResponse"},"description":"List of opportunities for which that person is the point of contact"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Events linked to the person"},"calendarEventParticipants":{"type":"array","items":{"$ref":"#/components/schemas/CalendarEventParticipantForResponse"},"description":"Calendar Event Participants"},"messageParticipants":{"type":"array","items":{"$ref":"#/components/schemas/MessageParticipantForResponse"},"description":"Message Participants"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Attachments linked to the contact."},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the contact"},"noteTargets":{"type":"array","items":{"$ref":"#/components/schemas/NoteTargetForResponse"},"description":"Notes tied to the contact"},"taskTargets":{"type":"array","items":{"$ref":"#/components/schemas/TaskTargetForResponse"},"description":"Tasks tied to the contact"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Contact’s company"}}},"Task":{"type":"object","description":"A task","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"assigneeId":{"type":"string","format":"uuid"},"title":{"type":"string","description":"Task title"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Task body"},"dueAt":{"type":"string","format":"date-time","description":"Task due date"},"position":{"type":"number","description":"Task record position"},"status":{"type":"string","enum":["TODO","IN_PROGRESS","DONE"],"description":"Task status"}},"example":{"status":["TODO"]}},"TaskForUpdate":{"type":"object","description":"A task","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]}},"description":"The creator of the record"},"assigneeId":{"type":"string","format":"uuid"},"title":{"type":"string","description":"Task title"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Task body"},"dueAt":{"type":"string","format":"date-time","description":"Task due date"},"position":{"type":"number","description":"Task record position"},"status":{"type":"string","enum":["TODO","IN_PROGRESS","DONE"],"description":"Task status"}},"example":{"status":["TODO"]}},"TaskForResponse":{"type":"object","description":"A task","properties":{"createdBy":{"type":"object","properties":{"source":{"type":"string","enum":["EMAIL","CALENDAR","WORKFLOW","API","IMPORT","MANUAL","SYSTEM","WEBHOOK"]},"workspaceMemberId":{"type":"string","format":"uuid"},"name":{"type":"string"}},"description":"The creator of the record"},"id":{"type":"string","format":"uuid","description":"Id"},"assigneeId":{"type":"string","format":"uuid"},"title":{"type":"string","description":"Task title"},"bodyV2":{"type":"object","properties":{"blocknote":{"type":"string"},"markdown":{"type":"string"}},"description":"Task body"},"dueAt":{"type":"string","format":"date-time","description":"Task due date"},"position":{"type":"number","description":"Task record position"},"status":{"type":"string","enum":["TODO","IN_PROGRESS","DONE"],"description":"Task status"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"assignee":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Task assignee"},"timelineActivities":{"type":"array","items":{"$ref":"#/components/schemas/TimelineActivityForResponse"},"description":"Timeline Activities linked to the task."},"favorites":{"type":"array","items":{"$ref":"#/components/schemas/FavoriteForResponse"},"description":"Favorites linked to the task"},"taskTargets":{"type":"array","items":{"$ref":"#/components/schemas/TaskTargetForResponse"},"description":"Task targets"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentForResponse"},"description":"Task attachments"}}},"TaskTarget":{"type":"object","description":"A task target","properties":{"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"}},"example":{}},"TaskTargetForUpdate":{"type":"object","description":"A task target","properties":{"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"}},"example":{}},"TaskTargetForResponse":{"type":"object","description":"A task target","properties":{"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"TaskTarget opportunity"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"TaskTarget company"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"TaskTarget person"},"task":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TaskForResponse"}],"description":"TaskTarget task"}}},"TimelineActivity":{"type":"object","description":"Aggregated / filtered event to be displayed on the timeline","properties":{"properties":{"type":"object","description":"Json value for event details"},"workflowRunId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"workflowId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"linkedObjectMetadataId":{"type":"string","format":"uuid","description":"Linked Object Metadata Id"},"linkedRecordId":{"type":"string","format":"uuid","description":"Linked Record id"},"linkedRecordCachedName":{"type":"string","description":"Cached record name"},"name":{"type":"string","description":"Event name"},"happensAt":{"type":"string","format":"date-time","description":"Creation date"},"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"workspaceMemberId":{"type":"string","format":"uuid"}},"example":{"name":"Timeline Activity name"}},"TimelineActivityForUpdate":{"type":"object","description":"Aggregated / filtered event to be displayed on the timeline","properties":{"properties":{"type":"object","description":"Json value for event details"},"workflowRunId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"workflowId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"linkedObjectMetadataId":{"type":"string","format":"uuid","description":"Linked Object Metadata Id"},"linkedRecordId":{"type":"string","format":"uuid","description":"Linked Record id"},"linkedRecordCachedName":{"type":"string","description":"Cached record name"},"name":{"type":"string","description":"Event name"},"happensAt":{"type":"string","format":"date-time","description":"Creation date"},"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"workspaceMemberId":{"type":"string","format":"uuid"}},"example":{"name":"Timeline Activity name"}},"TimelineActivityForResponse":{"type":"object","description":"Aggregated / filtered event to be displayed on the timeline","properties":{"properties":{"type":"object","description":"Json value for event details"},"workflowRunId":{"type":"string","format":"uuid"},"workflowVersionId":{"type":"string","format":"uuid"},"workflowId":{"type":"string","format":"uuid"},"taskId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"id":{"type":"string","format":"uuid","description":"Id"},"linkedObjectMetadataId":{"type":"string","format":"uuid","description":"Linked Object Metadata Id"},"linkedRecordId":{"type":"string","format":"uuid","description":"Linked Record id"},"linkedRecordCachedName":{"type":"string","description":"Cached record name"},"name":{"type":"string","description":"Event name"},"happensAt":{"type":"string","format":"date-time","description":"Creation date"},"opportunityId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"personId":{"type":"string","format":"uuid"},"workspaceMemberId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"workflowRun":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowRunForResponse"}],"description":"Event workflow run"},"workflowVersion":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowVersionForResponse"}],"description":"Event workflow version"},"workflow":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowForResponse"}],"description":"Event workflow"},"task":{"type":"object","oneOf":[{"$ref":"#/components/schemas/TaskForResponse"}],"description":"Event task"},"note":{"type":"object","oneOf":[{"$ref":"#/components/schemas/NoteForResponse"}],"description":"Event note"},"opportunity":{"type":"object","oneOf":[{"$ref":"#/components/schemas/OpportunityForResponse"}],"description":"Event opportunity"},"company":{"type":"object","oneOf":[{"$ref":"#/components/schemas/CompanyForResponse"}],"description":"Event company"},"person":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PersonForResponse"}],"description":"Event person"},"workspaceMember":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkspaceMemberForResponse"}],"description":"Event workspace member"}}},"ViewField":{"type":"object","description":"(System) View Fields","properties":{"fieldMetadataId":{"type":"string","format":"uuid","description":"View Field target field"},"viewId":{"type":"string","format":"uuid"},"aggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"position":{"type":"integer","description":"View Field position"},"size":{"type":"integer","description":"View Field size"},"isVisible":{"type":"boolean","description":"View Field visibility"}},"example":{"fieldMetadataId":"7c6a0fca-5e7c-4f76-8457-1babb1b4b891","aggregateOperation":["AVG"]},"required":["fieldMetadataId"]},"ViewFieldForUpdate":{"type":"object","description":"(System) View Fields","properties":{"fieldMetadataId":{"type":"string","format":"uuid","description":"View Field target field"},"viewId":{"type":"string","format":"uuid"},"aggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"position":{"type":"integer","description":"View Field position"},"size":{"type":"integer","description":"View Field size"},"isVisible":{"type":"boolean","description":"View Field visibility"}},"example":{"fieldMetadataId":"f038caef-46dd-46eb-9da2-39686a184e72","aggregateOperation":["AVG"]}},"ViewFieldForResponse":{"type":"object","description":"(System) View Fields","properties":{"fieldMetadataId":{"type":"string","format":"uuid","description":"View Field target field"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"viewId":{"type":"string","format":"uuid"},"id":{"type":"string","format":"uuid","description":"Id"},"aggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"position":{"type":"integer","description":"View Field position"},"size":{"type":"integer","description":"View Field size"},"isVisible":{"type":"boolean","description":"View Field visibility"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View Field related view"}}},"ViewFilterGroup":{"type":"object","description":"(System) View Filter Groups","properties":{"positionInViewFilterGroup":{"type":"integer","description":"Position in the parent view filter group"},"viewId":{"type":"string","format":"uuid"},"parentViewFilterGroupId":{"type":"string","format":"uuid","description":"Parent View Filter Group"},"logicalOperator":{"type":"string","enum":["AND","OR","NOT"],"description":"Logical operator for the filter group"}},"example":{"logicalOperator":["AND"]}},"ViewFilterGroupForUpdate":{"type":"object","description":"(System) View Filter Groups","properties":{"positionInViewFilterGroup":{"type":"integer","description":"Position in the parent view filter group"},"viewId":{"type":"string","format":"uuid"},"parentViewFilterGroupId":{"type":"string","format":"uuid","description":"Parent View Filter Group"},"logicalOperator":{"type":"string","enum":["AND","OR","NOT"],"description":"Logical operator for the filter group"}},"example":{"logicalOperator":["AND"]}},"ViewFilterGroupForResponse":{"type":"object","description":"(System) View Filter Groups","properties":{"positionInViewFilterGroup":{"type":"integer","description":"Position in the parent view filter group"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"viewId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"parentViewFilterGroupId":{"type":"string","format":"uuid","description":"Parent View Filter Group"},"logicalOperator":{"type":"string","enum":["AND","OR","NOT"],"description":"Logical operator for the filter group"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View"}}},"ViewFilter":{"type":"object","description":"(System) View Filters","properties":{"viewFilterGroupId":{"type":"string","format":"uuid","description":"View Filter Group"},"positionInViewFilterGroup":{"type":"integer","description":"Position in the view filter group"},"subFieldName":{"type":"string","description":"Sub field name"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Filter target field"},"viewId":{"type":"string","format":"uuid"},"operand":{"type":"string","description":"View Filter operand"},"value":{"type":"string","description":"View Filter value"},"displayValue":{"type":"string","description":"View Filter Display Value"}},"example":{"fieldMetadataId":"2fb5a00f-5bba-4bdc-9116-e5ab7b0f7b70"},"required":["fieldMetadataId"]},"ViewFilterForUpdate":{"type":"object","description":"(System) View Filters","properties":{"viewFilterGroupId":{"type":"string","format":"uuid","description":"View Filter Group"},"positionInViewFilterGroup":{"type":"integer","description":"Position in the view filter group"},"subFieldName":{"type":"string","description":"Sub field name"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Filter target field"},"viewId":{"type":"string","format":"uuid"},"operand":{"type":"string","description":"View Filter operand"},"value":{"type":"string","description":"View Filter value"},"displayValue":{"type":"string","description":"View Filter Display Value"}},"example":{"fieldMetadataId":"aba7b6c1-a0ce-4076-b779-7819088d32c7"}},"ViewFilterForResponse":{"type":"object","description":"(System) View Filters","properties":{"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"viewFilterGroupId":{"type":"string","format":"uuid","description":"View Filter Group"},"positionInViewFilterGroup":{"type":"integer","description":"Position in the view filter group"},"subFieldName":{"type":"string","description":"Sub field name"},"id":{"type":"string","format":"uuid","description":"Id"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Filter target field"},"viewId":{"type":"string","format":"uuid"},"operand":{"type":"string","description":"View Filter operand"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"value":{"type":"string","description":"View Filter value"},"displayValue":{"type":"string","description":"View Filter Display Value"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View Filter related view"}}},"ViewGroup":{"type":"object","description":"(System) View Groups","properties":{"position":{"type":"integer","description":"View Field position"},"fieldValue":{"type":"string","description":"Group by this field value"},"isVisible":{"type":"boolean","description":"View Group visibility"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Group target field"},"viewId":{"type":"string","format":"uuid"}},"example":{"fieldMetadataId":"8b621fe7-50d0-4944-8bbb-5a041d8d96b0"},"required":["fieldMetadataId"]},"ViewGroupForUpdate":{"type":"object","description":"(System) View Groups","properties":{"position":{"type":"integer","description":"View Field position"},"fieldValue":{"type":"string","description":"Group by this field value"},"isVisible":{"type":"boolean","description":"View Group visibility"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Group target field"},"viewId":{"type":"string","format":"uuid"}},"example":{"fieldMetadataId":"646ffd64-443b-4243-b755-101574e0c2f1"}},"ViewGroupForResponse":{"type":"object","description":"(System) View Groups","properties":{"id":{"type":"string","format":"uuid","description":"Id"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"position":{"type":"integer","description":"View Field position"},"fieldValue":{"type":"string","description":"Group by this field value"},"isVisible":{"type":"boolean","description":"View Group visibility"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Group target field"},"viewId":{"type":"string","format":"uuid"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View Group related view"}}},"View":{"type":"object","description":"(System) Views","properties":{"type":{"type":"string","description":"View type"},"key":{"type":"string","enum":["INDEX"],"description":"View key"},"kanbanAggregateOperationFieldMetadataId":{"type":"string","format":"uuid","description":"Field metadata used for aggregate operation"},"isCompact":{"type":"boolean","description":"Describes if the view is in compact mode"},"openRecordIn":{"type":"string","enum":["SIDE_PANEL","RECORD_PAGE"],"description":"Display the records in a side panel or in a record page"},"kanbanAggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"icon":{"type":"string","description":"View icon"},"kanbanFieldMetadataId":{"type":"string","description":"View Kanban column field"},"position":{"type":"number","description":"View position"},"name":{"type":"string","description":"View name"},"objectMetadataId":{"type":"string","format":"uuid","description":"View target object"},"anyFieldFilterValue":{"type":"string","description":"Any field filter value"}},"example":{"key":["INDEX"],"openRecordIn":["SIDE_PANEL"],"kanbanAggregateOperation":["AVG"],"name":"View name","objectMetadataId":"ddd2d3af-4f0d-4d58-afba-ddbb055227cd"},"required":["objectMetadataId"]},"ViewForUpdate":{"type":"object","description":"(System) Views","properties":{"type":{"type":"string","description":"View type"},"key":{"type":"string","enum":["INDEX"],"description":"View key"},"kanbanAggregateOperationFieldMetadataId":{"type":"string","format":"uuid","description":"Field metadata used for aggregate operation"},"isCompact":{"type":"boolean","description":"Describes if the view is in compact mode"},"openRecordIn":{"type":"string","enum":["SIDE_PANEL","RECORD_PAGE"],"description":"Display the records in a side panel or in a record page"},"kanbanAggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"icon":{"type":"string","description":"View icon"},"kanbanFieldMetadataId":{"type":"string","description":"View Kanban column field"},"position":{"type":"number","description":"View position"},"name":{"type":"string","description":"View name"},"objectMetadataId":{"type":"string","format":"uuid","description":"View target object"},"anyFieldFilterValue":{"type":"string","description":"Any field filter value"}},"example":{"key":["INDEX"],"openRecordIn":["SIDE_PANEL"],"kanbanAggregateOperation":["AVG"],"name":"View name","objectMetadataId":"a9aae4e7-529e-4e5c-9f89-3f10a44c7b77"}},"ViewForResponse":{"type":"object","description":"(System) Views","properties":{"type":{"type":"string","description":"View type"},"key":{"type":"string","enum":["INDEX"],"description":"View key"},"kanbanAggregateOperationFieldMetadataId":{"type":"string","format":"uuid","description":"Field metadata used for aggregate operation"},"isCompact":{"type":"boolean","description":"Describes if the view is in compact mode"},"openRecordIn":{"type":"string","enum":["SIDE_PANEL","RECORD_PAGE"],"description":"Display the records in a side panel or in a record page"},"kanbanAggregateOperation":{"type":"string","enum":["AVG","COUNT","MAX","MIN","SUM","COUNT_EMPTY","COUNT_NOT_EMPTY","COUNT_UNIQUE_VALUES","PERCENTAGE_EMPTY","PERCENTAGE_NOT_EMPTY","COUNT_TRUE","COUNT_FALSE"],"description":"Optional aggregate operation"},"icon":{"type":"string","description":"View icon"},"kanbanFieldMetadataId":{"type":"string","description":"View Kanban column field"},"position":{"type":"number","description":"View position"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"name":{"type":"string","description":"View name"},"objectMetadataId":{"type":"string","format":"uuid","description":"View target object"},"anyFieldFilterValue":{"type":"string","description":"Any field filter value"},"viewGroups":{"type":"array","items":{"$ref":"#/components/schemas/ViewGroupForResponse"},"description":"View Groups"},"viewFields":{"type":"array","items":{"$ref":"#/components/schemas/ViewFieldForResponse"},"description":"View Fields"},"viewFilters":{"type":"array","items":{"$ref":"#/components/schemas/ViewFilterForResponse"},"description":"View Filters"},"viewFilterGroups":{"type":"array","items":{"$ref":"#/components/schemas/ViewFilterGroupForResponse"},"description":"View Filter Groups"},"viewSorts":{"type":"array","items":{"$ref":"#/components/schemas/ViewSortForResponse"},"description":"View Sorts"}}},"ViewSort":{"type":"object","description":"(System) View Sorts","properties":{"viewId":{"type":"string","format":"uuid"},"direction":{"type":"string","description":"View Sort direction"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Sort target field"}},"example":{"fieldMetadataId":"6bd1dbc5-48a3-44e8-95c6-feb7c6dc737a"},"required":["fieldMetadataId"]},"ViewSortForUpdate":{"type":"object","description":"(System) View Sorts","properties":{"viewId":{"type":"string","format":"uuid"},"direction":{"type":"string","description":"View Sort direction"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Sort target field"}},"example":{"fieldMetadataId":"cee50386-da3a-4abb-ae0a-a43764a93733"}},"ViewSortForResponse":{"type":"object","description":"(System) View Sorts","properties":{"viewId":{"type":"string","format":"uuid"},"direction":{"type":"string","description":"View Sort direction"},"id":{"type":"string","format":"uuid","description":"Id"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"fieldMetadataId":{"type":"string","format":"uuid","description":"View Sort target field"},"view":{"type":"object","oneOf":[{"$ref":"#/components/schemas/ViewForResponse"}],"description":"View Sort related view"}}},"WorkflowAutomatedTrigger":{"type":"object","description":"A workflow automated trigger","properties":{"workflowId":{"type":"string","format":"uuid"},"settings":{"type":"object","description":"The workflow automated trigger settings"},"type":{"type":"string","enum":["DATABASE_EVENT","CRON"],"description":"The workflow automated trigger type"}},"example":{"settings":{},"type":["DATABASE_EVENT"]},"required":["settings","type"]},"WorkflowAutomatedTriggerForUpdate":{"type":"object","description":"A workflow automated trigger","properties":{"workflowId":{"type":"string","format":"uuid"},"settings":{"type":"object","description":"The workflow automated trigger settings"},"type":{"type":"string","enum":["DATABASE_EVENT","CRON"],"description":"The workflow automated trigger type"}},"example":{"settings":{},"type":["DATABASE_EVENT"]}},"WorkflowAutomatedTriggerForResponse":{"type":"object","description":"A workflow automated trigger","properties":{"workflowId":{"type":"string","format":"uuid"},"deletedAt":{"type":"string","format":"date-time","description":"Date when the record was deleted"},"updatedAt":{"type":"string","format":"date-time","description":"Last time the record was changed"},"settings":{"type":"object","description":"The workflow automated trigger settings"},"type":{"type":"string","enum":["DATABASE_EVENT","CRON"],"description":"The workflow automated trigger type"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"},"id":{"type":"string","format":"uuid","description":"Id"},"workflow":{"type":"object","oneOf":[{"$ref":"#/components/schemas/WorkflowForResponse"}],"description":"WorkflowAutomatedTrigger workflow"}}},"WorkflowRun":{"type":"object","description":"A workflow run","properties":{"position":{"type":"number","description":"Workflow run position"},"state":{"type":"object","description":"State of the workflow run"},"createdBy":{"type":"obj
[...]
